* {
  border: 0px solid red;
  margin: 50;
  padding: 50;
  box-sizing: border-box;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

#curtain{
  background-color: white;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -800px;
  width: 2000px;
  height: 1500px;



}



body {
  /* background-image: url("images/curtain.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  back */
  background-color: white;

  position: fixed;
  text-align: center;
border: 0px solid red;
margin-right: 65em;
  color: #eee;
  rgb(247, 217, 255)
}

h1 {
  position: fixed;
  top: 65%;
  left: 53%;
  margin-top: -750px;
  margin-left: -140px;

  padding-top: 10em;
  /* border: 1px solid red; */
  color: white;
  text-align: center;
}

#fred {
  position: fixed;
  top: 50%;
  left: 48%;
  margin-top: 125px;
  margin-left: -160px;
}

#fred2 {
position: fixed;
top: 27%;
left: 50%;
margin-top: -10px;
margin-left: -205px;
/* border: 1px solid red; */
}

#video {
  /* <img src="images/camera.jpg"> */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -270px;
  margin-left: -250px;

  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 480px;
  height: 360px;
  /* margin-left: 400px; */
  /* help with camera reversal */
  transform: rotateY(180deg);
}

#photo {
  position: fixed;
  top: 85%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 480px;
  height: 360px;
}

#canvasPhoto {
  display: none;
}

.camera {
  border: 0px solid red;
  /* width: 340px; */
  display: inline-block;
}

.output {
  /* width: 340px; */
  display: inline-block;
  vertical-align: top;
  border: 0px solid red;
  background-color: black
}

#downloadButton {
  background-color: rgba(255, 2, 50, 0.5);
  border: px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  padding: 0.5em;
  border-radius: 0.5em;
}

#startButton {
  background-color: rgba(255, 2, 50, 0.5);
  border: px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  padding: 0.5em;
  border-radius: 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 40px;
  margin-left: -250px;

  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 480px;
  height: 50px;
  /* margin-left: 400px; */
  /* help with camera reversal */

}

section{
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
   /* width: 800px; */
}

#cameraContentarea {
  background-color: #0047AB;
}

#startMixingButton {
  background-color: rgba(255, 2, 50, 0.5);
  border: px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  padding: 0.5em;
  border-radius: 0.5em;
  position: fixed;
  top: 82%;
  left: 50%;
  margin-top: 95px;
  margin-left: -250px;

  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 480px;
  height: 50px;
  /* margin-left: 400px; */
  /* help with camera reversal */
}

#downloadButton{
  position: fixed;
  top: 50%;
  left: 57%;
  margin-top: 350px;
  margin-left: 230px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 150px;
  height: 35px;


}

#returnButton{
  background-color: rgba(255, 2, 50, 0.5);
  border: px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  padding: 0.5em;
  border-radius: 0.5em;
  position: fixed;
  top: 50%;
  left: 40%;
  margin-top: 350px;
  margin-left: -300px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 150px;
  height: 35px;


}

#backButton{
  background-color: rgba(50, 200, 50, 0.5);
  border: px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  padding: 0.5em;
  border-radius: 0.5em;
  position: fixed;
  top: 85%;
  left: 40%;
  margin-top: 50px;
  margin-left: -50px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 150px;
  height: 35px;

}

#forwardButton{
  background-color: rgba(50, 200, 50, 0.5);
  border: px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  padding: 0.5em;
  border-radius: 0.5em;
  position: fixed;
  top: 85%;
  left: 55%;
  margin-top: 50px;
  margin-left: -50px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 150px;
  height: 35px;


}

/* ------------------- */
#canvasMixArea {
  position: fixed;
  top: 85%;
  left: 40%;
  margin-top: -750px;
  margin-left: -140px;
}

#c {
  background-image: url('images/checker.png');

}




}
